# user-specific
.idea/
__pycache__/
venv/
.vscode/

# ignore images
victimImages/

# ignore input/output directions
/RaspberryPiSide/IOFiles/outputDirections
/RaspberryPiSide/IOFiles/generatedMaze
/RaspberryPiSide/IOFiles/savedMaze
